Repository aws-samples/appmod-blueprints: changes, and which pre-commit hooks are due for each by the changed paths.
All: backstage-typecheck, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: backstage-typecheck
        name: Backstage TypeScript Check
        entry: bash -c 'cd backstage && yarn tsc --noEmit'
        language: system
        files: '^backstage/.*\.(ts|tsx)$'
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform Format Check
        entry: terraform fmt -check -recursive
        language: system
        files: '^platform/.*\.tf$'
        pass_filenames: false

clean
  backstage/app-config.backup.yaml
  gitops/addons/charts/backstage/templates/install.bak.yaml
Due: none

fix baskstage compile 7
  backstage/plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Due: backstage-typecheck

add kubevela garbage policy to s3 bucket template3
  platform/backstage/templates/s3-bucket-ack/skeleton/manifests/oam-s3-bucket.yaml
Due: none

Update Backstage Templates
  backstage/packages/backend/package.json
  backstage/yarn.lock
Due: none

clean
  platform/infra/terraform/hub/gitlab.tf
  scripts/remove-description-gitlab-backstage.sh
  scripts/update-gitea-gitlap.sh
  test-scaffolding.sh
Due: terraform-fmt

Add ACK S3 controller pod identity configuration
  platform/infra/terraform/hub/pod-identity.tf
Due: terraform-fmt

update package.json files
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Add ignoreDifferences to KubeVela addon to fix out-of-sync issues
  gitops/addons/bootstrap/default/addons.yaml
Due: none

use helm chart wrapper for kubevela
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/kubevela/Chart.yaml
  gitops/addons/charts/kubevela/templates/components/appmod-service.yaml
  gitops/addons/charts/kubevela/templates/components/ddbtable-component.yml
  gitops/addons/charts/kubevela/templates/components/external-database-secret.yml
  gitops/addons/charts/kubevela/templates/components/rds-cluster.yaml
  gitops/addons/charts/kubevela/templates/components/s3-bucket-ack.yaml
  gitops/addons/charts/kubevela/templates/components/s3-bucket.yaml
  gitops/addons/charts/kubevela/templates/components/service-account.yaml
  gitops/addons/charts/kubevela/templates/traits/component-policy.yaml
  gitops/addons/charts/kubevela/templates/traits/ingress.yaml
  gitops/addons/charts/kubevela/templates/traits/path-based-ingress.yaml
  gitops/addons/charts/kubevela/values.yaml
Due: none

fix baskstage compile 7
  backstage/plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
  gitops/addons/charts/backstage/templates/install.yaml
Due: backstage-typecheck

clean
  platform/backstage/templates/create-dev-and-prod-env/template-create-dev-and-prod-env.yaml
  platform/backstage/templates/eks-cluster-template/template.yaml
Due: none

Add webhook and APIService resources to KubeVela ignoreDifferences
  gitops/addons/bootstrap/default/addons.yaml
Due: none

Remove garbage collection policy from S3 bucket template to fix ArgoCD-managed bucket deletion issue
  platform/backstage/templates/s3-bucket-ack/skeleton/manifests/oam-s3-bucket.yaml
Due: none

add s3 and vbela to spoke
  gitops/fleet/members/fleet-spoke-dev/values.yaml
  scripts/3-register-terraform-spoke-clusters.sh
Due: none

fix backstage catalog registration 3
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

add kube:apply action
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Add global S3 bucket resource exclusions to ArgoCD via GitOps
  gitops/addons/default/addons/argo-cd/values.yaml
Due: none

Complete S3 bucket ArgoCD integration fix
  gitops/addons/charts/kubevela/templates/components/s3-bucket-ack.yaml
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Update KubeVela ignoreDifferences with specific resource names
  gitops/addons/bootstrap/default/addons.yaml
Due: none

revert app-config
  backstage/app-config.backup.yaml
Due: none

Fix S3 bucket deletion issue by disabling ArgoCD pruning
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Use ArgoCD orphanedResources.ignore for KubeVela-generated S3 Bucket resources
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

fix baskstage compile 7
  gitops/addons/charts/backstage/templates/install.yaml
Due: none

Fix KubeVela chart repository URL - use working repository
  gitops/addons/bootstrap/default/addons.yaml
Due: none

Add specific webhook field ignores for KubeVela sync issues
  gitops/addons/bootstrap/default/addons.yaml
Due: none

add git to backstage image
  backstage/Dockerfile
  backstage/plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Due: backstage-typecheck

Temporary fix: Use existing GitLab ELB name to resolve deployment issue
  platform/infra/terraform/hub/gitlab.tf
Due: terraform-fmt

update name
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

add repo
  platform/backstage/templates/s3-bucket-ack-gitlab/skeleton/catalog-info.yaml
  platform/backstage/templates/s3-bucket-ack-gitlab/skeleton/manifests/oam-s3-bucket.yaml
  platform/backstage/templates/s3-bucket-ack-gitlab/template.yaml
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Add ArgoCD ignoreDifferences for dynamically created S3 Bucket resources
  platform/backstage/templates/s3-bucket-ack/template.yaml
Due: none

Add enable_kubevela to oss_addons in hub cluster locals.tf
  platform/infra/terraform/hub/locals.tf
Due: terraform-fmt

update argo cm
  gitops/addons/default/addons/argo-cd/values.yaml
Due: none

add git to backstage image
  backstage/plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Due: backstage-typecheck

Add aggressive ignoreDifferences to eliminate all KubeVela sync issues
  gitops/addons/bootstrap/default/addons.yaml
Due: none

add kubevela garbage policy to s3 bucket template2
  platform/backstage/templates/s3-bucket-ack/skeleton/manifests/oam-s3-bucket.yaml
Due: none

Add KubeVela addon to support OAM Applications
  gitops/addons/bootstrap/default/addons.yaml
Due: none

Enable ACK S3 controller in spoke clusters
  platform/infra/terraform/spokes/pod-identity.tf
  platform/infra/terraform/spokes/workspaces/dev.tfvars
  platform/infra/terraform/spokes/workspaces/prod.tfvars
Due: terraform-fmt
