Repository aws-samples/appmod-blueprints: changes, and which pre-commit hooks are due for each by the changed paths.
All: backstage-typecheck, terraform-fmt

backstage-typecheck:
  name: Backstage TypeScript Check
  entry: bash -c 'cd backstage && yarn tsc --noEmit'
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform Format Check
  entry: terraform fmt -check -recursive
  language: system
  pass_filenames: false

Add Crossplane pod identity configuration to Terraform
  platform/infra/terraform/spokes/main.tf
  platform/infra/terraform/spokes/pod-identity.tf
  platform/infra/terraform/spokes/workspaces/dev.tfvars
Due: terraform-fmt

wip decouple the deployment
  platform/infra/terraform/common/argocd.tf
  platform/infra/terraform/common/cloudfront.tf
  platform/infra/terraform/common/data.tf
  platform/infra/terraform/common/deploy.sh
  platform/infra/terraform/common/destroy.sh
  platform/infra/terraform/common/github.tf
  platform/infra/terraform/common/gitlab.tf
  platform/infra/terraform/common/iam.tf
  platform/infra/terraform/common/ingress-nginx.tf
  platform/infra/terraform/common/locals.tf
  platform/infra/terraform/common/manifests/applicationsets.yaml
  platform/infra/terraform/common/manifests/argocd-initial-values.yaml
  platform/infra/terraform/common/manifests/gitlab-initial-values.yaml
  platform/infra/terraform/common/manifests/ingress-nginx-initial-values.yaml
  platform/infra/terraform/common/outputs.tf
  platform/infra/terraform/common/pod-identity.tf
  platform/infra/terraform/common/providers.tf
  platform/infra/terraform/common/secrets.tf
  platform/infra/terraform/common/variables.tf
  platform/infra/terraform/common/versions.tf
  platform/infra/terraform/mgmt-config.yaml
Due: terraform-fmt

Enable kubevela-components in control-plane environment
  gitops/addons/environments/control-plane/addons.yaml
Due: none

make addon configuration dynamic
  platform/infra/terraform/common/gitlab_infra/variables.tf
  platform/infra/terraform/common/locals.tf
  platform/infra/terraform/common/variables.tf
  platform/infra/terraform/hub-config.yaml
Due: terraform-fmt

fix data template in push secret
  gitops/addons/charts/keycloak/templates/keycloak-config.yaml
Due: none

Fix backstage build.sh
  platform/infra/terraform/scripts/0-init.sh
  platform/infra/terraform/scripts/1-backstage-build.sh
Due: none

Fix ProviderConfig references in KubeVela components
  gitops/addons/charts/kubevela-components/templates/components/dp-service-account.yaml
  gitops/addons/charts/kubevela-components/templates/components/dynamodb-table.yml
  gitops/addons/charts/kubevela-components/templates/traits/component-policy.yaml
Due: none

add sync hooks to keycloak Push Secret and config job
  gitops/addons/charts/keycloak/templates/keycloak-config.yaml
Due: none

Add aws-secrets-manager ClusterSecretStore for dev environment
  gitops/addons/charts/kubevela/templates/components/appmod-service.yaml
  gitops/addons/charts/kubevela/templates/components/external-database-secret.yml
  gitops/addons/environments/dev/addons/external-secrets/values.yaml
  platform/components/appmod-service.cue
  platform/components/external-database-secret.cue
Due: none

enable ack IAM:
  gitops/addons/bootstrap/default/addons.yaml
Due: none

remove refreshPolicy: OnChange from keycloak external secrets
  gitops/addons/charts/keycloak/templates/secret-gen.yaml
  platform/infra/terraform/common/secrets.tf
Due: terraform-fmt

fix backstage build
  backstage/app-config.yaml
  backstage/packages/app/src/App.tsx
  backstage/packages/app/src/components/Root/Root.tsx
  backstage/packages/app/src/components/catalog/EntityPage.tsx
  backstage/packages/app/src/components/kubernetes/KroNavigationHelper.tsx
  backstage/packages/app/src/components/kubernetes/KubernetesContentWithKro.tsx
  backstage/packages/backend/package.json
  backstage/packages/backend/src/index.ts
  backstage/packages/backend/src/plugins/catalog-processors/kro-resource-group-processor.ts
  backstage/packages/backend/src/plugins/kro-audit.ts
  backstage/packages/backend/src/plugins/kro-permissions.ts
  backstage/packages/backend/src/plugins/kro-resource-group-service.ts
  backstage/packages/backend/src/plugins/kubernetes-kro-integration.ts
  backstage/tsconfig.json
Due: backstage-typecheck

fix kargo addon extra object escape chars
  gitops/addons/bootstrap/default/addons.yaml
Due: none

Enable platform-manifests addon in Terraform
  platform/infra/terraform/spokes/main.tf
  platform/infra/terraform/spokes/workspaces/dev.tfvars
Due: terraform-fmt

try cluster creation
  platform/infra/terraform/cluster/deploy.sh
  platform/infra/terraform/cluster/destroy.sh
  platform/infra/terraform/cluster/main.tf
  platform/infra/terraform/cluster/variables.tf
  platform/infra/terraform/cluster/versions.tf
  platform/infra/terraform/common/deploy.sh
  platform/infra/terraform/common/destroy.sh
  platform/infra/terraform/common/gitlab_infra/versions.tf
  platform/infra/terraform/common/versions.tf
  platform/infra/terraform/scripts/0-install.sh
  platform/infra/terraform/scripts/1-argocd-gitlab-setup.sh
  platform/infra/terraform/scripts/argocd-utils.sh
  platform/infra/terraform/scripts/colors.sh
  platform/infra/terraform/scripts/utils.sh
Due: terraform-fmt

Add KubeVela components chart and ApplicationSet
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/kubevela-components/Chart.yaml
  gitops/addons/charts/kubevela-components/templates/components/appmod-service.yaml
  gitops/addons/charts/kubevela-components/templates/components/dp-service-account.yaml
  gitops/addons/charts/kubevela-components/templates/components/dynamodb-table.yml
  gitops/addons/charts/kubevela-components/templates/components/external-database-secret.yaml
  gitops/addons/charts/kubevela-components/templates/components/rds-cluster.yaml
  gitops/addons/charts/kubevela-components/templates/components/s3-bucket.yaml
  gitops/addons/charts/kubevela-components/templates/compositions/definition.yaml
  gitops/addons/charts/kubevela-components/templates/compositions/postgres-aurora.yaml
  gitops/addons/charts/kubevela-components/templates/compositions/rds-postgres.yaml
  gitops/addons/charts/kubevela-components/templates/traits/component-policy.yaml
  gitops/addons/charts/kubevela-components/templates/traits/ingress.yaml
  gitops/addons/charts/kubevela-components/templates/traits/path-based-ingress.yaml
  gitops/addons/charts/kubevela-components/values.yaml
  gitops/addons/default/addons/kubevela-components/values.yaml
Due: none

fix utils.sh
  platform/infra/terraform/scripts/utils.sh
Due: none

enable keycloak argocd and eso for hub
  platform/infra/terraform/hub-config.yaml
Due: none

fix kargo addon extra object
  gitops/addons/bootstrap/default/addons.yaml
Due: none

seperate gitlab infra deployment from resources
  platform/infra/terraform/common/argocd.tf
  platform/infra/terraform/common/cloudfront.tf
  platform/infra/terraform/common/deploy.sh
  platform/infra/terraform/common/destroy.sh
  platform/infra/terraform/common/gitlab.tf
  platform/infra/terraform/common/gitlab_infra/.gitignore
  platform/infra/terraform/common/gitlab_infra/data.tf
  platform/infra/terraform/common/gitlab_infra/gitlab-initial-values.yaml
  platform/infra/terraform/common/gitlab_infra/locals.tf
  platform/infra/terraform/common/gitlab_infra/main.tf
  platform/infra/terraform/common/gitlab_infra/outputs.tf
  platform/infra/terraform/common/gitlab_infra/providers.tf
  platform/infra/terraform/common/gitlab_infra/variables.tf
  platform/infra/terraform/common/gitlab_infra/versions.tf
  platform/infra/terraform/common/locals.tf
  platform/infra/terraform/common/secrets.tf
  platform/infra/terraform/hub-config.yaml
Due: terraform-fmt

fix kargo addon extra object indentation
  gitops/addons/bootstrap/default/addons.yaml
Due: none

try spec.refreshPolicy: OnChange for keycloak externalsecret
  gitops/addons/charts/keycloak/templates/secret-gen.yaml
Due: none

enable kargo on hub cluster
  platform/infra/terraform/common/locals.tf
  platform/infra/terraform/common/secrets.tf
Due: terraform-fmt

fix tlsClientConfig.insecure error
  gitops/fleet/charts/fleet-secret/templates/external-secret.yaml
Due: none

Add platform-manifests chart for ClusterSecretStore
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/platform-manifests/Chart.yaml
  gitops/addons/charts/platform-manifests/templates/cluster-secret-store.yaml
  gitops/addons/charts/platform-manifests/values.yaml
  gitops/addons/environments/control-plane/addons.yaml
  gitops/addons/environments/dev/addons/external-secrets/values.yaml
Due: none

fix kargo addon extra object escape ticks
  gitops/addons/bootstrap/default/addons.yaml
Due: none

move keycloak config job from hook and add backoffLimit logic
  gitops/addons/charts/keycloak/templates/keycloak-config.yaml
Due: none

Remove conflicting ACK pod identity modules
  platform/infra/terraform/spokes/pod-identity.tf
Due: terraform-fmt

Fix cluster name in rust application
  deployment/teams/team-r/dev/application.yml
  deployment/teams/team-r/dev/rust-application.yaml
Due: none

rename cluster secret
  gitops/fleet/charts/fleet-secret/templates/external-secret.yaml
  gitops/fleet/members/fleet-hub/values.yaml
Due: none

try refreshPolicy: OnChange for keycloak externalsecret
  gitops/addons/charts/keycloak/templates/secret-gen.yaml
Due: none

updater cluster secret chart
  gitops/fleet/charts/fleet-secret/templates/external-secret.yaml
Due: none

fix keycloak-config script to add grafana client
  gitops/addons/charts/keycloak/templates/keycloak-config.yaml
Due: none

update hub-config.yaml
  platform/infra/terraform/hub-config.yaml
Due: none

Add pod identity configuration for Crossplane providers
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/crossplane-aws/templates/pod-identity.yaml
Due: none

fix utils.sh
  platform/infra/terraform/cluster/deploy.sh
  platform/infra/terraform/scripts/utils.sh
Due: none

fix kargo addon extra object chars
  gitops/addons/bootstrap/default/addons.yaml
Due: none

Update Crossplane pod identity to use AdministratorAccess
  platform/infra/terraform/spokes/pod-identity.tf
Due: terraform-fmt

Path conditions:
  backstage-typecheck: any of: ^backstage/.*\.(ts|tsx)$
  terraform-fmt: any of: ^platform/.*\.tf$
