Repository aws-samples/appmod-blueprints: changes, and which pre-commit hooks are due for each by the changed paths.
All: backstage-typecheck, terraform-fmt

backstage-typecheck:
  name: Backstage TypeScript Check
  entry: bash -c 'cd backstage && yarn tsc --noEmit'
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform Format Check
  entry: terraform fmt -check -recursive
  language: system
  pass_filenames: false

Add KRO RGD CI/CD pipeline implementation
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/README.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/dependency-ordering.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/INTEGRATION_TEST_SUMMARY.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/README.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/aws-resource-validation.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/kubernetes-deployment.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/package-lock.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/package.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/pipeline-provisioning.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/setup-test.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/setup/test-setup.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/simple-integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/utils/aws-client.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/utils/kubernetes-client.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/vitest.integration.config.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/package-lock.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/package.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/parameter-handling.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/resource-template-generation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/schema-validation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/utils/rgd-loader.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/utils/template-engine.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/vitest.config.js
  gitops/addons/tenants/tenant1/clusters/peeks-hub-cluster/application-sets/addons.yaml
Due: none

Add KRO RGD CI/CD pipeline implementation
  platform/backstage/templates/cicd-pipeline/MIGRATION_SUMMARY.md
  platform/backstage/templates/cicd-pipeline/WEBHOOK_INTEGRATION.md
  platform/backstage/templates/cicd-pipeline/provisioner/README.md
  platform/backstage/templates/cicd-pipeline/skeleton/catalog-info.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-dev.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-prod.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/test-parameter-validation.sh
  platform/backstage/templates/cicd-pipeline/test-webhook-integration.sh
  platform/backstage/templates/cicd-pipeline/validate-argocd-integration.sh
  platform/backstage/templates/cicd-pipeline/validate-output-links.sh
  platform/backstage/templates/cicd-pipeline/validate-parameter-handling.sh
  platform/backstage/templates/cicd-pipeline/validate-template-simplification.sh
  platform/backstage/templates/cicd-pipeline/validate-webhook-integration.sh
Due: none

enable ack-ecr
  gitops/addons/environments/control-plane/addons.yaml
  platform/infra/terraform/hub/locals.tf
  platform/infra/terraform/hub/terraform.tfvars
Due: terraform-fmt

add ack-ecr
  platform/infra/terraform/hub/pod-identity.tf
Due: terraform-fmt

add argo events
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
  gitops/addons/environments/control-plane/addons.yaml
  platform/infra/terraform/hub/terraform.tfvars
Due: none

update cicd kro template
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
Due: none

fix: resolve Kro RGD validation issues and update GitLab integration
  amazon-q-target-file.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
Due: none

add kro backstage plugin
  backstage/app-config.production.yaml
  backstage/app-config.yaml
  backstage/docs/build-and-deployment-process.md
  backstage/docs/kro-configuration-summary.md
  backstage/docs/kro-integration-changes-summary.md
  backstage/docs/kro-rbac-deployment.md
  backstage/k8s-rbac/backstage-kro-rbac.yaml
  backstage/packages/app/package.json
  backstage/packages/app/src/App.tsx
  backstage/packages/app/src/components/Root/Root.tsx
  backstage/packages/backend/package.json
  backstage/packages/backend/src/index.ts
  backstage/scripts/setup-kro-rbac.sh
  backstage/scripts/test-kro-connectivity.sh
Due: backstage-typecheck

add kro backstage plugin
  gitops/addons/bootstrap/default/addons.yaml
  gitops/addons/charts/backstage/templates/install.yaml
Due: none

addind backstage cicd-pipeline, based on nes kro cicd-pipeline RGD
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/README.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/TESTING.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/cleanup-kro-test.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/aws-resource-validation.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/kubernetes-deployment.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/pipeline-provisioning.integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/simple-integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/utils/kubernetes-client.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/parameter-handling.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/resource-template-generation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/schema-validation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/README.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/gitlab-argocd-integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/package-lock.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/package.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/parameter-combinations.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/pipeline-creation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/template-execution.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/test-results.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/vitest.config.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/yaml-manifest-validation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/test-cicd-pipeline-instance.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/test-kro-cicd-instance-dryrun.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/test-kro-cicd-instance.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/utils/rgd-loader.js
  platform/backstage/templates/cicd-pipeline/provisioner/wf-templates.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/catalog-info.yaml
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

fix npm package names and version
  backstage/packages/app/package.json
  backstage/packages/app/src/App.tsx
  backstage/packages/backend/package.json
  backstage/packages/backend/src/index.ts
  backstage/yarn.lock
Due: backstage-typecheck

fix addos template error
  backstage/packages/backend/src/index.ts
  backstage/packages/backend/src/plugins/kro.ts
  gitops/addons/bootstrap/default/addons.yaml
Due: backstage-typecheck

addind backstage cicd-pipeline, based on nes kro cicd-pipeline RGD 2
  backstage/packages/backend/src/index.ts
  backstage/packages/backend/src/plugins/kro.ts
  gitops/addons/bootstrap/default/addons.yaml
Due: backstage-typecheck

add kro backstage catalog
  backstage/app-config.yaml
  backstage/examples/kro-resource-groups.yaml
  backstage/packages/app/src/App.tsx
  backstage/packages/app/src/components/catalog/EntityPage.tsx
  backstage/packages/backend/src/index.ts
  backstage/packages/backend/src/plugins/catalog-kro-module.ts
  backstage/packages/backend/src/plugins/catalog-processors/kro-resource-group-processor.ts
  backstage/packages/backend/src/plugins/kro-entity-transformer.ts
  backstage/packages/backend/src/plugins/kubernetes-ingestor-kro-module.ts
  backstage/scripts/validate-kro-catalog-integration.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/cleanup-kro-test.sh
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/test-parameter-validation.sh
  platform/backstage/templates/cicd-pipeline/validate-parameter-handling.sh
Due: backstage-typecheck

renaming default eks cluster
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/cleanup-kro-test.sh
  platform/backstage/templates/cicd-pipeline/provisioner/podidentity.yaml
  platform/backstage/templates/cicd-pipeline/provisioner/podidentityxrd.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/workflow-rbac.yaml
  platform/backstage/templates/cicd-pipeline/test-parameter-validation.sh
Due: none

fix compiulation
  backstage/packages/backend/src/plugins/catalog-processors/kro-resource-group-processor.ts
  backstage/packages/backend/src/plugins/kro-entity-transformer.ts
  backstage/packages/backend/src/plugins/kubernetes-ingestor-kro-module.ts
Due: backstage-typecheck

add integration tests
  backstage/app-config.production.yaml
  backstage/app-config.yaml
  backstage/package.json
  backstage/packages/app/package.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/README.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/WORKFLOW_INTEGRATION_TESTS.md
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/package.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/setup/workflow-global-setup.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/utils/workflow-test-utils.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/vitest.workflow.config.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/integration/workflow-integration.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/run-workflow-integration-tests.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/validate-workflow-integration-tests.js
Due: none

Update Backstage Templates
  backstage/app-config.yaml
  platform/backstage/templates/catalog-info.yaml.backup.20250929_170627
Due: none

Add fleet member configuration for spoke dev cluster
  gitops/fleet/members/fleet-spoke-dev/values.yaml
Due: none

Add fleet member configuration for spoke prod cluster
  gitops/fleet/members/fleet-spoke-prod/values.yaml
Due: none

Update Backstage Templates
  platform/backstage/templates/catalog-info.yaml.backup.20250929_164044
  platform/backstage/templates/cicd-pipeline-old/provisioner/ekspodidentity.yaml
  platform/backstage/templates/cicd-pipeline-old/provisioner/podidentity.yaml
  platform/backstage/templates/cicd-pipeline-old/provisioner/podidentityxrd.yaml
  platform/backstage/templates/cicd-pipeline-old/provisioner/wf-run.yaml
  platform/backstage/templates/cicd-pipeline-old/provisioner/wf-templates.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/catalog-info.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/argo-app-dev.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/argo-app-prod.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/bus.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/gitea-external-secret.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/sensor-rbac.yaml
  platform/backstage/templates/cicd-pipeline-old/skeleton/manifests/workflow-rbac.yaml
  platform/backstage/templates/cicd-pipeline-old/template-cicd-pipeline.yaml
  platform/backstage/yarn.lock
Due: none

clean
  platform/backstage/templates/catalog-info.yaml.backup.20250929_170627
Due: none

add integration tests 2
  backstage/app-config.production.yaml
  backstage/app-config.yaml
Due: none

add integration tests 3
  backstage/app-config.local.yaml
  backstage/app-config.production.yaml
  backstage/app-config.yaml
Due: none

Fix: Add enablePermissions to kro configuration in Backstage
  gitops/addons/charts/backstage/templates/install.yaml
Due: none

Update Backstage Templates
  platform/backstage/templates/catalog-info.yaml.backup.20250929_173131
Due: none

Update Backstage Templates
  backstage/package.json
  backstage/packages/app/package.json
  backstage/yarn.lock
  platform/backstage/templates/catalog-info.yaml.backup.20250929_172018
Due: none

add integration tests 4
  Taskfile.yml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/dependency-ordering.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/parameter-handling.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/resource-template-generation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/schema-validation.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/parameter-combinations.test.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/template-execution/test-results.json
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/test-kro-cicd-instance.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/test-kro-cicd-pipeline.yaml
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/utils/rgd-loader.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/utils/template-engine.js
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/tests/vitest.config.js
  platform/backstage/templates/cicd-pipeline/MIGRATION_SUMMARY.md
  platform/backstage/templates/cicd-pipeline/WEBHOOK_INTEGRATION.md
  platform/backstage/templates/cicd-pipeline/provisioner/README.md
  platform/backstage/templates/cicd-pipeline/provisioner/podidentity.yaml
  platform/backstage/templates/cicd-pipeline/provisioner/podidentityxrd.yaml
  platform/backstage/templates/cicd-pipeline/provisioner/wf-run.yaml
  platform/backstage/templates/cicd-pipeline/provisioner/wf-templates.yaml
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/tests/README.md
  platform/backstage/templates/cicd-pipeline/tests/test-parameter-validation.sh
  platform/backstage/templates/cicd-pipeline/tests/test-webhook-integration.sh
  platform/backstage/templates/cicd-pipeline/tests/validate-argocd-integration.sh
  platform/backstage/templates/cicd-pipeline/tests/validate-output-links.sh
  platform/backstage/templates/cicd-pipeline/tests/validate-parameter-handling.sh
  platform/backstage/templates/cicd-pipeline/tests/validate-template-simplification.sh
  platform/backstage/templates/cicd-pipeline/tests/validate-webhook-integration.sh
  platform/backstage/templates/eks-cluster-template/template.yaml
  platform/validation/cluster/validate-automode-cluster.sh
  platform/validation/docs/validate-documentation.sh
  platform/validation/kro/validate-kro-rgd-cli.sh
  platform/validation/kro/validate-kro-rgd.sh
Due: none

Update Backstage Templates
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181244
Due: none

Update Backstage Templates
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181113
Due: none

Update Backstage Templates
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181414
Due: none

clean
  platform/backstage/templates/catalog-info.yaml
  platform/backstage/templates/catalog-info.yaml.backup.20250929_172018
  platform/backstage/templates/catalog-info.yaml.backup.20250929_173131
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181113
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181244
  platform/backstage/templates/catalog-info.yaml.backup.20250929_181414
  platform/backstage/templates/cicd-pipeline-old/template-cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-dev.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-prod.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/bus.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/gitea-external-secret.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/sensor-rbac.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/workflow-rbac.yaml
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

fix conflict in rgd and argocd
  backstage/examples/templates/kro-job/content/README.md
  backstage/examples/templates/kro-job/content/catalog-info.yaml
  backstage/examples/templates/kro-job/content/instance.yaml
  backstage/examples/templates/kro-job/content/resourcegroup.yaml
  backstage/examples/templates/kro-job/template.yaml
  backstage/examples/templates/kro-microservice/content/README.md
  backstage/examples/templates/kro-microservice/content/catalog-info.yaml
  backstage/examples/templates/kro-microservice/content/instance.yaml
  backstage/examples/templates/kro-microservice/content/resourcegroup.yaml
  backstage/examples/templates/kro-microservice/template.yaml
  backstage/examples/templates/kro-webapp/content/README.md
  backstage/examples/templates/kro-webapp/content/catalog-info.yaml
  backstage/examples/templates/kro-webapp/content/instance.yaml
  backstage/examples/templates/kro-webapp/content/resourcegroup.yaml
  backstage/examples/templates/kro-webapp/template.yaml
  backstage/scripts/test-kro-templates.sh
  backstage/scripts/validate-templates.sh
  gitops/addons/charts/kro/resource-groups/cicd-pipeline/cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-dev.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/argo-app-prod.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/bus.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/cicd-pipeline.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/gitea-external-secret.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/sensor-rbac.yaml
  platform/backstage/templates/cicd-pipeline/skeleton/manifests/workflow-rbac.yaml
Due: none

Fix: Remove duplicate YAML keys in eks-cluster-template
  platform/backstage/templates/eks-cluster-template/template.yaml
Due: none

Fix: Correct indentation in catalog-info.yaml
  platform/backstage/templates/catalog-info.yaml
Due: none

Fix: Remove unsupported syncPolicy from argocd:create-resources action
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

Fix: Add createProject: false to use existing default ArgoCD project
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

Fix: Use unique project name instead of unsupported createProject parameter
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

Fix: Add .git suffix to ArgoCD repository URL for proper Git access
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

Fix: Use hardcoded HTTPS URL format for catalog registration like working templates
  platform/backstage/templates/cicd-pipeline/template-cicd-pipeline.yaml
Due: none

Path conditions:
  backstage-typecheck: any of: ^backstage/.*\.(ts|tsx)$
  terraform-fmt: any of: ^platform/.*\.tf$
